body {
    background-color: rgb(255, 182, 113);
}
div {
    margin: 15em auto;
    width: 600px;

    padding: 3em;
    text-align: center;
    font-family: "28 Days Later Cyr";

    background-color: rgb(255, 115, 0);
}

div:hover {
    box-shadow: 0 0 10px 10px rgb(255, 255, 255);
    transition: 2s;
}